/* Comentario */

.facturation-folder-logo img {
    width: 28%;
}

td {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 10pt;
    width: 30px;
    padding: 0px 2px !important;
    height: 18px;
}

th,
td {
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

.population input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.population {
    border-collapse: collapse;
    width: 80%;
    padding: 0;
    font-family: arial;
    background-color: #f9f9f9;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.population tbody tr {
    border-bottom: 1px solid #dddddd;
}

.population tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.population th {
    color: white;
    background-color: #783d64;
    height: 25px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    margin: 0px !important;
    border-collapse: collapse;
    font-size: 14px;
    width: fit-content;
}

.population tbody tr:last-of-type {
    border-bottom: 2px solid #783d64;
}

.checkbox {
    text-align: center;
    vertical-align: middle;
}

.div_concepts {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.monto-total {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.span-monto-total {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

p {
    font-family: 'Segoe UI';
    font-size: 14px;
}

label {
    font-family: 'Segoe UI';
    font-size: 14px;
}

textarea {
    background-color: transparent;
    resize: none;
    font-family: 'Segoe UI';
    font-size: 14px;
}

.button_compute_total {
    color: white;
    background-color: #783d64;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 140px;
    height: 35px;
    border-radius: 5px;
    border: #783d64;
    margin-right: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.button_compute_total:hover {
    background-color: #81466e;
}

.button_total {
    color: white;
    background-color: #a72424;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    border: #a72424;
    margin-right: 10px;
}

.total_calculated {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    vertical-align: middle;
}

.buttons-facturacion {
    display: flex;
    justify-content: flex-end;
}

.buttons-facturacion button {
    border-radius: 8px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #cccccc;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.buttons-facturacion button:hover {
    background-color: #d4d4d4;
}

.button-descargar-excel {
    margin-left: 40px;
}

.input-total {
    width: 70px;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: none;
}

.input-log {
    background-color: transparent;
    border: none;
}

.input_concepts {
    width: 500px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}

.input_concepts_monto {
    width: 80px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}